*.o
vor
font_guts
font_guts.pov
data/rock*.png
data/icon.png
data/macicon.png
data/ship.png
data/life.png
data/font.png
tags
log
config.h
configure
config.status
config.log
autom4te.cache
*.dll
*.exe
Makefile
vor.desktop
scores
